<!doctype html>
<html lang="en" ng-app="webUI">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Web UI</title>

    <!-- STYLES -->
    <!-- build:css lib/css/main.min.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="style/css/rdash.css">
    <link rel="stylesheet" href="style/css/style.css">

    <!-- endbuild -->
    <!-- SCRIPTS -->
    <!-- build:js lib/js/main.min.js -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>

    <!-- Custom Scripts -->
    <script src="app.js"></script>
    <script src="app.config.js"></script>
    <script src="controllers/master-ctrl.js"></script>

    <!-- Directives -->
    <script type="text/javascript" src="directives/widget.js"></script>
    <script type="text/javascript" src="directives/widget-body.js"></script>
    <script type="text/javascript" src="directives/widget-footer.js"></script>
    <script type="text/javascript" src="directives/widget-header.js"></script>

    <!-- Components -->
    <script type="text/javascript" src="controllers/jobsController.js"></script>



</head>

<body ng-controller="MasterCtrl">
    <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a ng-click="toggleSidebar()">
              Dashboard
              <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
                </li>
                <li class="sidebar-title"><span>NAVIGATION</span></li>

                <li data-ng-attr-id="jobsMenu" data-ng-click="toggleMenu('jobItems')" class="sidebar-list parent" id="jobsMenu">Jobs <span class="menu-icon fa fa-cog"></span>
                </li>
                <ul id="jobItems">
                    <li ng-click="changeView('jobs')"  class="sidebar-list"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp; View jobs</li>
                    <li ng-click="changeView('submit')" class="sidebar-list"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp; Submit job</li>
                </ul>

            </ul>
            <div class="sidebar-footer">
                <div class="col-xs-4">
                    <a href="https://github.com/efikalti" target="_blank">
              Github
            </a>
                </div>
                <div class="col-xs-4">
                    <a href="https://github.com/efikalti/Lambda/blob/master/README.md" target="_blank">
              About
            </a>
                </div>
                <div class="col-xs-4">
                    <a href="mailto:kaltirim@csd.auth.gr?Subject=Lambda%20Support">
              Support
            </a>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">

                <!-- Header Bar -->
                <div class="row header">
                    <div class="col-xs-12">
                        <div class="meta">
                            <div class="page">
                                Dashboard
                            </div>
                            <div class="breadcrumb-links">
                                Home / Dashboard
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Bar -->

                <!-- Main Content -->
              <ui-view/>

            </div>
            <!-- End Page Content -->
        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- End Page Wrapper -->
</body>

</html>
