<sidebar locationName= {{ locationName }}></sidebar>

<div class="welcome-outer">
  <div  class="welcome-inner">
    <div class="welcome-title">
      Welcome to Grid Web UI
    </div>

    <br><br><br>
    <hr class="style18">
    <br>

      <h2>A few useful links to the other Grid services</h2>
      <br><br>
      <div class="links-row">
        <div class="links">
          <img ng-src="img/it-auth-logo.png" alt="Grid Auth wiki logo" width="150" height="150"/>
          <h3>Grid Auth Wiki</h3>
          <p>The wiki contains information and tutorials about the grid auth services and interface.</p>
          <br>
          <a href="http://wiki.grid.auth.gr" target="_blank">Grid Auth Wiki</a>
        </div>

        <div class="links">
          <img ng-src="img/it-auth-logo.png" alt="IT Auth logo" width="150" height="150"/>
          <h3>Scientific Computing</h3>
          <p>Software and infrastructure support for developing scientific computing methods</p>
          <br>
          <a href="https://it.auth.gr/en/Services/sciComp" target="_blank" >IT Auth Scientific Computing</a>
        </div>

        <div class="links">
          <img ng-src="img/hellasgrid-logo.jpg" alt="Hellasgrid logo" width="150" height="150"/>
          <h3>Hellasgrid Services</h3>
          <p>HPC SEE-VO CA</p>
          <br>
          <a href="http://www.hellasgrid.gr/" target="_blank" >HellasGrid page</a>
        </div>

      </div>
  </div>
</div>
