<form ng-submit="login(user)">
  <div class="login-form login-bg">
     <h1>Login</h1>
     <div class="form-group log-status" id="username-form">
       <input type="text" class="form-control" placeholder="Username " ng-model="user.username" id="username">
       <i class="fa fa-user"></i>
     </div>
     <div class="form-group log-status" id="password-form">
       <input type="password" class="form-control" placeholder="Password" ng-model="user.password" id="password">
       <i class="fa fa-lock"></i>
     </div>
      <span class="alert" id="invalid">Invalid Credentials</span>
      <span class="alert" id="server">Server error. <br>Please try again later, or contact support.</span>
      <a class="link-no-dec" href="#">Lost your password?</a>
     <input type="submit" class="log-btn" value="Log in">
  </div>
</form>
